
@{
    ViewData["Title"] = "addform";
}

<h1>Add New Product</h1>

<form method="post" action="/product/addprod">
    Product Name: <input type="text" name="name" /><br />
    Description: <input type="text" name="description" /><br />
    Price: <input type="text" name="price" /><br />
    <label for="category">Category:</label>
    <select name="category" id="category">
        <option value="">Choose a category:</option>
        <option value="DRINKS">DRINKS</option>
        <option value="FOOD">FOOD</option>
        <option value="MERCHANDISE">MERCHANDISE</option>
    </select><br />
    <input type="submit" value="Save" />
</form>